[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "nexus"
url = "https://${NEXUS_USER}:${NEXUS_PASSWORD}@nexus.tools.dtcloudhosting.com/repository/pipy-templates/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
constructs = "~=10.4.2"
cdk8s = "~=2.70.13"
cdk8s-plus-28 = "~=2.5.6"
deployment-template =  {version = "==1.0.0", index = "nexus"}

[dev-packages]

[pipenv]
allow_prereleases = true
